.container {
    top: 0;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.navbar_background {
    position: absolute;
    z-index: 0;
}

.navbar_menu {
    display: flex;
    position: relative;
    gap: 830px;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13;
}

.title {
    display: flex;
}

.navbar_title {
    width: 227px;
    height: 29px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.navbar_links {
    width: 98px;
    height: 29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}