.container{
    width: 100%;
    height: 1023px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #714949;
}

.background{
    position: absolute;
    z-index: 0;
}

.background_overlay {
    width: 100%;
    height: 661.6px;
    top: 170.47px;
    background: radial-gradient(245.5% 245.51% at 50% 104.85%, #520909 0%, rgba(157, 3, 3, 0) 100%);
    mix-blend-mode: overlay;
    position: absolute;
    z-index: 1;
}

.title {
    display: flex;
    position: relative;
    gap: 99px;
    justify-content: center;
    align-items: center;
}

.second_division{
    width: 661px;
    height: 366.26px;
    row-gap: 50px;
    flex-direction: column;
    display: flex;
    gap: 53.43px;
}

.name {
    width: 661px;
    height: 264.25px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 136px;
    color: #FFFFFF;
}

.login_button {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 188px;
    height: 64.12px;
    background: radial-gradient(354.82% 507.01% at 50% 49.4%, #A74545 0%, rgba(213, 22, 22, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

